<%- include("./partials/header") %>
    <section id="send-item">
        <div class="send-item-image">
            <img src="./images/delivery.jpg" alt="">
        </div>
        <div class="send-item-card">
            <div class="send-item-card-content">
                <h2 class="send-item-card-title">Send and Receive Packages</h2>
                <p class="send-item-card-p">Your items can be sent and recieved very easily</p>
            </div>
        </div>
                    <h1 style="font-size: 2rem;text-align: center; padding:40px 0 ;">Price Plans</h1>

        <div id="prices">
                <div class="plan">
                    <h2>Letter</h2>
                    <p>Up to 100g</p>
                    <p>From $0.75</p>
                    <img src="./images/xs.jpg" alt="">
                </div>
                <div class="plan">
                    <h2>Large Letter</h2>
                    <p>Up to 250g</p>
                    <p>From $1.05</p>
                    <img src="./images/s.jpg" alt="">

                </div>
                <div class="plan">
                    <h2>Small Parcel</h2>
                    <p>Up to 2kg</p>
                    <p>From $2.99</p>
                    <img src="./images/m.jpg" alt="">

                </div>
                <div class="plan">
                    <h2>Medium Parcel</h2>
                    <p>Up to 20kg</p>
                    <p>From $4.35</p>
                    <img src="./images/l.jpg" alt="">

                </div>
                <div class="plan">
                    <h2>Tube</h2>
                    <p>Up to 20kg</p>
                    <p>From $4.35</p>
                    <img src="./images/xl.jpg" alt="">

                </div>
                <div class="plan">
                   <h2>Large Parcel</h2>
                    <p>Up to 30kg</p>
                    <p>From $12.12</p>
                    <img src="./images/xxl.jpg" alt="">

                </div>
            </div>
    </section>
    <script>
        
    </script>
<%- include("./partials/footer") %>
