<!DOCTYPE html>
]<html lang="en" dir="ltr">
  <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lizzy E-Post</title>
    <link rel="stylesheet" href="/styles.css">
        <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">

    <link rel="stylesheet" href="/login.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
     <div class="logo">
      <h2><a href="/">Lizzy E-Post</a></h2>
      <label class="menu-button">
        <ion-icon name="menu"></ion-icon>
      </label>
    </div>
    <nav>
      <ul id="menu" class="invisible">
        <li>
          <a class="sub1" href="#">Sending</a>
          <div class="submenu1">
            <ul id="submenu1">
              <div>
                <h4 class="submenu-item">Tools</h4>
                <div class="submenu-list">
                  <a class="submenu-item-link" href="/click-and-drop">Click & Drop</a>
                  <a class="submenu-item-link" href="/">Buy postage online</a>
                  <a class="submenu-item-link" href="">Return an item</a>
                  <a class="submenu-item-link" href="/get-postcode">Find a postcode</a>
                </div>
              </div>
              <div>
                <h4 class="submenu-item">UK Parcels</h4>
                <div class="submenu-list">
                  <a class="submenu-item-link" href="/" >Special Delivery Guaranteed by 9am</a>
                  <a class="submenu-item-link" href="/">Special Delivery Guaranteed by 1pm</a>
                  <a class="submenu-item-link" href="/">Royal Mail Tracked 24</a>
                  <a class="submenu-item-link" href="/">Royal Mail Tracked 48</a>
                </div>
              </div>
              <div>
                <h4 class="submenu-item">International</h4>
                <div class="submenu-list">
                  <a class="submenu-item-link" href="/">Special Delivery Guaranteed by 9am</a>
                  <a class="submenu-item-link" href="/">Special Delivery Guaranteed by 1pm</a>
                  <a class="submenu-item-link" href="/">Royal Mail Tracked 24</a>
                  <a class="submenu-item-link" href="/">Royal Mail Tracked 48</a>
                </div>
              </div>
            </ul>

            <!-- <ul>
              <li class="submenu-item">
                UK Parcels
                <ul class="nested-submenu">
                  <li>Special Delivery Guaranteed by 9am</li>
                  <li>Special Delivery Guaranteed by 1pm</li>
                  <li>Royal Mail Tracked 24</li>
                  <li>Royal Mail Tracked 48</li>
                </ul>
              </li>
            </ul>
            <ul>
              <li class="submenu-item">
                International
                <ul class="nested-submenu">
                  <li>International Tracked & Signed</li>
                  <li>International Tracked</li>
                  <li>International Standard</li>
                  <li>Country customs and restrictions</li>
                </ul>
              </li>
            </ul> -->
          </div>
        </li>
        <li><a href="#">Track and Manage</a></li>
        <li><a href="#">Stamp and Supplies</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
    <div class="page">
    <div class="center">
      <h1>Login Securely</h1>
      <form method="post" action="/login">
        <div class="txt_field">
          <input  name="email" type="text" required>
          <span></span>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input name="password" type="password" required>
          <span></span>
          <label>Password</label>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a  href="/signup">Signup</a>
        </div>
        <a role="button" class="g-login" href="/auth/google">Login in with Google  <ion-icon name="logo-google"></ion-icon></a>
      </form>
    </div>
    <%- include("./partials/footer") %>
    </div>
  </body></html>