
<%- include("./partials/header") %>
<div class="tracker">
    <%- include("./partials/tracker-card") %>
    <div class="track-details">
        <h1>Your Package Details</h1>
        <h2 id="order_number"></h2>
        <h2 id="details"></h2>
    </div>
</div>

<%- include("./partials/footer") %>
